@import "../../scss/all";

#chatbox {
    display: inline-flex !important;
    border-color: $lightGrey;
    background-color: #fff;
    transition: .3s all;
    left: -20vw;
    color: $darkBlue;

    &.open { left: 0 }

    .chat-header {
        width: 100%;
        text-align: center;
        font-family: Gelion;
        font-weight: 700;
        font-size: 18px;
        background-color: $lightBlue;
        height: 56px;
    }

    .chat-content {
        .msgBlock {
            background-color: #eee !important;
            color: $grey !important;
            border-radius: 10px;
            font-family: Gelion;
            
            &.self { background-color: $darkBlue !important; color: #fff !important }
        }
    }

    .chat-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $lightBlue;

        .msgTextarea {
            width: 80%;
            border: 1px solid $grey;
            border-radius: 10px;
            font-family: Gelion;
            resize: none;

            &:focus { outline: none }
        }

        .btn-div {
            width: 20%;

            button.send {
                border: none;
                background-color: $darkBlue;
                color: #fff;
                border-radius: 50%;
                margin: auto;
                display: block;
                padding: 8px 11px 7px 8px;
                cursor: pointer;

                &:focus { outline: none }
            }
        }
    }
}