@import '../../scss/all';

header {
    background-color: $lightBlue;
    color: $darkBlue;
    font-family: Gelion;

    .fa-comment-alt {
        position: absolute;
        left: 30px;
        cursor: pointer;
    }
}